fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-core==2.23.4
sqlmodel==0.0.22          # new version supports Pydantic v2
langchain==0.3.29
langchain-core==0.3.75
langchain-google-genai==2.1.9
langchain-community==0.3.29
langchain-openai==0.3.32
langchain-anthropic==0.3.19
google-generativeai==0.6.0
